/Praktikum 7/Latihan/nbproject/private/
/Praktikum 7/Latihan/build/
/Praktikum 7/Tugas/nbproject/private/
/Prakitkum 8/Latihan/nbproject/private/
/Prakitkum 8/Latihan/build/
/Prakitkum 8/Tugas/nbproject/private/
/Prakitkum 8/Tugas/build/
/BankApp/nbproject/private/
/BankApp/build/
/ContactApp/nbproject/private/
/BankApp2/nbproject/private/
/BankApp2/build/
/ContactApp/build/
/ContactAppDual/nbproject/private/
/ProjekUTS/nbproject/private/
/ContactApp2/nbproject/private/
/ContactApp2/build/
/ContactApp3/nbproject/private/
/ContactApp3/build/
/JframeSwitch/nbproject/private/
/JframeSwitch/build/
/JframeSwitch_Inheritance/nbproject/private/
/JframeSwitch_Inheritances/nbproject/private/
/JframeSwitch_Inheritances/build/
/JframeSwitch_New/nbproject/private/
/JframeSwitch_New/build/
/test-inheri/nbproject/private/
/test-inheri/build/
/Bab11/nbproject/private/
/Bab11/build/
/Bab13/nbproject/private/
/Bab13/build/
/PostTest2/nbproject/private/
/Bab17/nbproject/private/
/Bab17/build/
/JFrameSwitch_FIX_PostTest/nbproject/private/
/JFrameSwitch_FIX_PostTest/build/
/Academy/
/academy-oop/
/Academy
/academy-oop