/Praktikum 7/Latihan/nbproject/private/
/Praktikum 7/Latihan/build/
/Praktikum 7/Tugas/nbproject/private/
/Prakitkum 8/Latihan/nbproject/private/
/Prakitkum 8/Latihan/build/
/Prakitkum 8/Tugas/nbproject/private/
/Prakitkum 8/Tugas/build/
